@font-face {
  font-family: "Absolut_Pro_Reduce_Bold";
  src: url("./Absolut_Pro_Bold_reduced.ttf") format("opentype");
}
@font-face {
  font-family: "Absolut_Pro_Reduce";
  src: url("./Absolut_Pro_Book_reduced.ttf") format("opentype");
}
