<div class="main">
    <div class="main__logoutBar">
        <img
            class="main__logoutIcon"
            src="assets/icons/power-off-solid.svg"
            alt="logout icon"
        />
    </div>
    <div class="main__titleContainer">
        <h5 class="main__title">Credi-Closet's</h5>
        <h5 class="main__subtitle">Cartago</h5>
    </div>
    <div class="main__buttons">
        <div class="main__innerButton">
            <div class="main__middleInner">
                <span class="main__closetsText">Closets</span>
                <img
                    class="main__closetImage"
                    src="assets/images/closet.png"
                    alt="closet image"
                />
            </div>
            <div class="main__middleInner">
                <img
                    class="main__kitchenImage"
                    src="assets/images/kitchen.png"
                    alt="kitchen image"
                />
                <span class="main__kitchenText">Cocinas</span>
            </div>
        </div>
        <div class="main__innerButton">
            <img
                class="main__soatImage"
                src="assets/images/soat.png"
                alt="soat image"
            />
        </div>
    </div>
</div>
